<%- include('templates/header') %>
<%- include('templates/navbar') %>

<div class="container">
	<div class="row">
		<div class="col">
			<h1><%= title %></h1>
			<p> <%= desc %></p>
		</div>
	</div>
</div>


<%- include('templates/footer') %>
